
@{
    ViewBag.Title = "AddSuccess";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
}

<div class="breadcrumbs" style="background-image: url('../../../Plugins/images/bg-1.jpg');">
    <!-- Overlay -->
    <div class="bg-overlay"></div>

    <!-- navbar end -->
    <!-- Hero content -->
    <div class="hero-content">
        <div class="container">
            <div class="hero-inner">
                <!-- search box Wrap -->
                <div class="search-box-wrap">
                    <!-- Medicine search box -->
                    <div class="medicine-price">
                        <h2> Medicine has been successfully added. </h2>
                        <p>Please go to home.</p>
                    </div>
                </div>
                <!-- Search box Wrap End -->

            </div>
        </div>
    </div>
</div>
<!-- ========== Header area end ======== -->